<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ToDoアプリ</title>
</head>
<body>
    <h1>ToDoアプリ</h1>

    <form action="/add" method="post">
        <input type="text" name="title" placeholder="やることを入力" required>
        <button type="submit">追加</button>
    </form>
    <ul>
        <li th:each="todo : ${todos}">
            <span th:text="${todo.title}"></span>

            <form action="/delete" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${todo.id}">
                <button type="submit">削除</button>
            </form>
        </li>
    </ul>

      <li>githubのURL</li>
      <img class="qr"
        alt="This is QRcode=https://github.com/nagiarr/portfolio/settings/pages"
        src="/images/QRcode_Portfolio_YanagimachiAritoshi_1.svg">

    </section>
    <link rel="stylesheet" href="/css/style.css">
</body>
</html>